html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.close-btn {
    color: #6c757d;
}
.close-btn:hover {
    color: #343a40;
}

.menu-item i, .menu-item-movil {
    background-color: rgb(0, 123, 255, 0.0) !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0) !important;
}

.menu-item:hover i,
.menu-item.active i,
.menu-item-movil:hover,
.menu-item-movil.active {
    background-color: rgb(0, 123, 255, 0.3) !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
}

#btn-limpiar { color: #6c757d; }
#btn-limpiar:hover { color: #343a40; }

#busqueda:focus-within { box-shadow: 0 0.07rem 0.5rem #0d6dfd60 !important; }

.leaflet-control {
    margin: -.1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
}

.popup-destino-content { margin: 0 !important; }
.popup-destino-close { display: none !important; }
.popup-destino-wrapper { padding: 0 !important; background: none !important; border: none !important; box-shadow: none !important; }


.leaflet-control a { background-color: #ffffff; color: #343a40; }
.leaflet-control a:hover { background-color: #eaeaea; }

.nav-link {
    color: #212529 !important;
    background-color: #dbdbdb !important;
}
.nav-link:hover, .nav-link.active {
    color: #ffffff !important;
    background-color: #0c5aeb !important;
}

body.swal2-height-auto {
    height: 100% !important;
}

#sidebar-content {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
#sidebar-content.show {
    transform: translateX(0);
}

#contenedor-movil {
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
}
#contenedor-movil.active {
    visibility: visible;
}

#overlay {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#contenido-movil {
    transition: transform 0.2s ease-in-out;
    transform: translateX(-100%);
}

#contenedor-movil.active #contenido-movil {
    transform: translateX(0);
}

#contenedor-movil.active #overlay {
    opacity: 0.25;
}

.gradiente {
    background: #acacac;
    /* Base oscura */
    position: relative;
    overflow: hidden;
}

.gradiente::before {
    content: "";
    position: absolute;
    top: 0;
    left: -200%;
    width: 200%;
    height: 100%;

    /* El "brillo" que cruza */
    background: linear-gradient(
        90deg,
        rgba(159,159,159,0) 0%,   /* transparente al inicio */
        rgba(199,199,199,0.4) 30%, /* brillo suave */
        rgba(255,255,255,0.5) 50%, /* punto más claro (glow fuerte) */
        rgba(199,199,199,0.4) 70%, /* se va apagando */
        rgba(159,159,159,0) 100%   /* vuelve a transparente */
    );

    animation: brillo 1.6s linear infinite;
}

.gradiente-inverso {
    background: #f0f0f0;
    /* Base oscura */
    position: relative;
    overflow: hidden;
}

.gradiente-inverso::before {
    content: "";
    position: absolute;
    top: 0;
    left: -200%;
    width: 200%;
    height: 100%;

    /* El "brillo" que cruza */
    background: linear-gradient(
        90deg,
        rgba(150,150,150,0) 0%,   /* transparente al inicio */
        rgba(150,150,150,0.2) 30%, /* brillo suave */
        rgba(150,150,150,0.5) 50%, /* punto más claro (glow fuerte) */
        rgba(150,150,150,0.2) 70%, /* se va apagando */
        rgba(150,150,150,0) 100%   /* vuelve a transparente */
    );

    animation: brillo 1.6s linear infinite;
}

@keyframes brillo {
    0% {
        left: -200%;
    }

    90% {
        left: 200%;
    }

    100% {
        left: 200%;
    }
}

body.dark-mode .bg-light { background-color: #363b40 !important; }
body.dark-mode .bg-white { background-color: #181818 !important; }
body.dark-mode .border { border-color: #24282b !important; }
body.dark-mode .border-end { border-right: 1px solid #24282b !important; }
body.dark-mode hr { border-top: 1px solid #747c84 !important; }
body.dark-mode .text-primary { color: #77b9ff !important; }

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5 {
    color: #ffffff !important;
}

body.dark-mode #menu .bg-white, body.dark-mode .form-control {
    background-color: #242424 !important;
}
body.dark-mode #menu .form-control::placeholder { color: #6c757d !important; }
body.dark-mode #menu #busqueda:focus-within { box-shadow: 0 0.07rem 0.5rem #63a1ff60 !important; }

body.dark-mode .form-control { border: 1px solid #3a3f44 !important; color: #e1e1e1 !important; }
body.dark-mode #busqueda .form-control { border: none !important; }

body.dark-mode .text-muted { color: #6c757d !important; }

.leaflet-bar { border: none !important; }

body.dark-mode .leaflet-control a, body.dark-mode .leaflet-control-attribution { background-color: #272727; color: #9ea7b0; }
body.dark-mode .leaflet-control-zoom-in { border-bottom: 1px solid #696969; }
body.dark-mode .leaflet-control a:hover { background-color: #383838; }
body.dark-mode .leaflet-popup-content-wrapper { box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6) !important; }
body.dark-mode .leaflet-popup-tip { background: #363b40 !important; }


html.swal2-shown,
body.swal2-shown {
    overflow: hidden !important; /* Mantiene tu estilo original sin scroll */
    height: 100% !important;     /* ANULA el height: auto de SweetAlert */
}

body.swal2-shown {
  padding-right: 0 !important; /* Evita el padding extra */
}
#menu-movil {
    position: relative;
    z-index: 99999 !important;
  }
  
  #menu {
    z-index: 99999 !important;
  }
  
  .dropdown-menu {
    z-index: 100000 !important;
  }